
:root{
    --deckgo-highlight-code-carbon-box-shadow:0;
    --deckgo-highlight-code-scroll:0;
    --deckgo-highlight-code-carbon-margin:2rem;
}

div>ul>li{
    text-align: left;
}

div>ul{
    margin: 20px 0px;;
    line-height: 1.5rem;
    font-size:16px;
}

code{
    
    background: #e4e4e4;
    padding: 0.2rem;
    border-radius: 5px;
}

/* markdown alerts styling */

blockquote>div.note{
    background-color: #E2DAF1;
    display:block;
    padding: 1rem 0.5rem;
    border-radius: 2px;
}

blockquote>div.note>div.note-title::before{
   content: "❕ ";
   display: inline-block;
   padding-right: 3px;
   vertical-align: middle;
   font-weight: 900;
}

blockquote>div.note>div.note-title{
    font-size: 1rem;
    font-weight: bold;
    padding-bottom: 0.5rem;
}

blockquote>div.note>div.note-body{
    margin-top: 0.5rem;
}

/* tip */

blockquote>div.tip{
    background-color: #D2F9D2;
    display:block;
    padding: 1rem 0.5rem;
    border-radius: 2px;
}

blockquote>div.tip>div.tip-title::before{
    content:"💡 ";
      display: inline-block;
   padding-right: 3px;
   vertical-align: middle;
   font-weight: 900;
}

blockquote>div.tip>div.tip-title{
    font-size: 1rem;
    font-weight: bold;
    padding-bottom: 0.5rem;
}

blockquote>div.tip>div.tip-body{
    margin-top: 0.5rem;
}